<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoordinatorKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CoreKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>SupaGithub.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SupaGithubCoreKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>SupaGithub_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6625670222AE86F100AAE70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6625671622AE86F300AAE70C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E7852922AE8FF700D24982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E7856222AE92E800D24982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E7858A22AE94AE00D24982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
