<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.azzi.socialgames.alias">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/alias"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alias_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Online.Profile.ProfileMainActivity"></activity>
        <activity android:name=".Online.LeaderboardMainActivity" />
        <activity android:name=".OnlineDashboardActivity" />
        <activity
            android:name=".OnlineResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_online_result"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".OnlinePlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_online_play"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".WinnerActivity" />
        <activity android:name=".VideoListActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".EditAnswersActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".PlayActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".NewGameActivity" />
        <activity android:name=".HowToPlayActivity" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1489905432577426~2503811790" />
    </application>

</manifest>